<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgba(0, 0, 0, 0.8);">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class='bx bxs-id-card'></i> FRBAS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class='bx bxs-home'></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard"><i class='bx bxs-dashboard'></i> Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adduser"><i class='bx bxs-user-plus'></i> Add User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listusers"><i class='bx bxs-user-detail'></i> List Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>